<div class="card p-4">
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline" name="editForm" role="form" novalidate (ngSubmit)="getData()" #editForm="ngForm">
        <div class="form-group p-2">
          <label class="pr-2">Building  (<span class="text-danger">*</span>):</label>
          <select class="form-control" name="building" [(ngModel)]="building" required>
            <option [ngValue]="undefined">SELECT BUILDING</option>
            <option *ngFor="let building of buildings;" [ngValue]="building">{{building.Name}}</option>
          </select>
        </div>
        <div class="form-group p-2">
          <label class="pr-2">Object: </label>
          <select class="form-control" name="object" [(ngModel)]="dataObject">
            <option [ngValue]="undefined">SELECT OBJECT</option>
            <option *ngFor="let object of objects;" [ngValue]="object">{{object.Name}}</option>
          </select>
        </div>
        <div class="form-group p-2">
          <label class="pr-2">Datafield (<span class="text-danger">*</span>):</label>
          <select class="form-control" name="datafield" [(ngModel)]="datafield" required>
            <option [ngValue]="undefined">SELECT DATAFIELD</option>
            <option *ngFor="let dataField of dataFields;" [ngValue]="dataField">{{dataField.Name}}</option>
          </select>
        </div>
        <div class="form-group p-2">
          <label class="pr-2">Date Range (<span class="text-danger">*</span>):</label>
          <input type="text" placeholder="Daterangepicker" required name="daterangeoicker" [(ngModel)]="bsRangeValue"
            id="daterangeoicker" [minDate]="minDate" [maxDate]="maxDate" class="form-control" bsDaterangepicker>
        </div>
        <div class="form-group p-2">
          <input type="button" value="Search" class="btn btn-primary" type="submit" [title]="editForm.form.invalid? 'Enter required fields' : isSaving? 'Searching...' : 'Search'" [disabled]="editForm.form.invalid || isSaving" />
        </div>
      </form>
    </div>
  </div>
  <div>
    <h4>Timeseries Data</h4>
  </div>
  <button class="btn btn-primary" type="button" disabled [hidden]="!isSaving">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Loading...
  </button>
  <div style="display: block" [hidden]="isSaving">
    <canvas #lineChart>{{ chart }}</canvas>
  </div>
</div>